@import "tailwindcss";

@theme {
  --color-primary: #3f0085;
  --color-secondary: #ffffff;
}

html {
  font-family: var(--font-poppins);
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline;
}
