---
import "../styles/global.css";
import NavLayout from "../layouts/NavLayout.astro";
import CategoryButton from "../components/CategoryButton.astro";

let buttons = [
  {
    icon: "mdi:resume",
    buttonText: "Resume",
    link: "/experiences/resume",
  },
  {
    icon: "mdi:folder-account",
    buttonText: "Portfolio",
    link: "https://canva.link/ez9d5855g6hub76",
  },
];
---

<NavLayout>
  <div class="flex flex-col m-auto">
    <div
      class="flex flex-col gap-6 items-center-safe justify-center min-h-svh bg-linear-to-t from-primary to-purple-600 lg:gap-8"
    >
      <div class="flex text-secondary">
        <h1 class="text-2xl lg:text-4xl">My Skills & Experiences</h1>
      </div>
      <div class="flex flex-row gap-4">
        <div class="flex flex-col gap-2 lg:flex-row">
          {
            buttons.map((button, index) => (
              <CategoryButton
                icon={button.icon}
                buttonText={button.buttonText}
                link={button.link}
                index={index}
              />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</NavLayout>
