---
import '../styles/global.css';
---

<div>
    <footer class="flex items-center justify-center h-16">
        <p class="text-sm opacity-50">© {new Date().getFullYear()} NotTheRealGun. All rights reserved.</p>
    </footer>
</div>