---
import "../styles/global.css";
import ProjectCategoryButton from "../components/ProjectCategoryButton.astro";

let buttons = [
  {
    icon: "mdi:controller",
    buttonText: "Games and Interactives",
    link: "/projects/interactives",
  },
  {
    icon: "mdi:checkbox-intermediate-variant",
    buttonText: "Interface Designs",
    link: "",
  },
  { icon: "mdi:drawing", buttonText: "Graphic Designs", link: "" },
  { icon: "mdi:art", buttonText: "Doodles and Sketches", link: "" },
];
---

<div class="flex flex-col m-auto">
  <div class="flex items-center-safe justify-center h-svh bg-primary">
    <div class="flex flex-row gap-4 group">
      <div class="flex flex-col items-left gap-2">
        {
          buttons.map((button, index) => (
            <ProjectCategoryButton
              icon={button.icon}
              buttonText={button.buttonText}
              link={button.link}
              index={index}
            />
          ))
        }
      </div>
    </div>
  </div>
</div>
