---
import '../styles/global.css';
import { Icon } from 'astro-icon/components';

const { buttonText, icon, link, index, video } = Astro.props;
---

<a
    class="interactive-entry entry flex gap-2 p-4 bg-white items-center transition-all hover:scale-102 hover:opacity-100 hover:rounded-tr-4xl lg:opacity-90 lg:h-full"
    data-video={video}
    href={link}
    style={`animation-delay: ${index * 0.1}s`}>
    <p class="text-xl w-full">
        {buttonText}
    </p>
    <Icon name={icon} class="w-8 h-auto"/>
</a>

<style>
    .entry {
        animation: fadeIn 0.5s ease forwards;
        opacity: 0;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>